.artPortfolio {
  background-color: #28293e;
  max-width: 1440px;
  width: 100%;
  max-height: 100000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 92px 0 176px 0;
  .portfolio {
    max-width: 1170px;
    width: 100%;
    display: flex;
    flex-direction: column;
    .last {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      .portpTag {
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;

        letter-spacing: 3px;

        color: #ef6d58;
      }
      h3 {
        font-weight: 800;
        font-size: 56px;
        line-height: 64px;
        text-align: center;
        letter-spacing: -1px;
        color: #ffffff;
        margin-bottom: 44px;
      }

      ul {
        display: flex;
        gap: 60px;
        li {
          display: flex;

          p {
            position: relative;
            top: -10px;
            color: #ffff;
          }
        }
      }

      #mySelect {
        display: none;
        max-width: 309px;
        width: 100%;
        padding: 7px 16px 5px 16px;
        color: #391400a3;
        background: #ffffff;
        border-radius: 6px;

        &option:hover {
          background-color: aqua;
        }
      }
    }

    @media screen and (max-width: 768px) {
      .last {
        ul {
          display: none;
        }
        #mySelect {
          display: block;
        }
      }
    }

    .divPorfolio {
      .img {
        display: flex;

        gap: 30px;
        padding: 30px 0 0 0;
        .imgFirst {
          max-width: 470px;
          width: 100%;
          height: 416px;
        }
        .imgThen {
          max-width: 670px;
          width: 100%;
          height: 416px;
        }

        .buttonImg {
          position: relative;
          div {
            display: flex;
            flex-direction: column;
            gap: 24px;
            position: absolute;
            top: 256px;
            left: 48px;
            button {
              background: #ffffff;
              border-radius: 19px;
              font-weight: 400;
              font-size: 16px;
              line-height: 32px;
              color: #391400;
              border: 0;
              padding: 5px 15px 1px 16px;
            }
            p {
              font-weight: 800;
              font-size: 40px;
              line-height: 48px;
              color: #ffffff;
            }
          }
        }
      }
      .btn {
        display: flex;
        justify-content: center;
        padding-top: 64px;
        button {
          border: 1px solid rgba(255, 255, 255, 0.295743);
          border-radius: 6px;
          background-color: #28293e;
          font-weight: 900;
          font-size: 14px;
          line-height: 14px;
          text-align: center;
          text-transform: uppercase;
          color: #ffffff;
          padding: 18px 30px 16px 31px;
        }
      }
    }

    @media screen and (max-width: 768px) {
      .divPorfolio {
        .img {
          flex-direction: column;
          .buttonImg {
            div {
              left: 28px;
            }
          }
        }
      }
    }
  }

  .suprisCart {
    margin-top: 192px;
    display: flex;
    max-width: 1170px;
    width: 100%;
    height: 339px;
    justify-content: space-around;
    border: 1px solid #391400;
    border-radius: 6px;
    background-color: #fdf0e9;
    padding: 0 83px 0 100px;
    .getStart {
      position: relative;
      img {
        position: absolute;
        width: 148px;
        top: -77px;
      }
      p {
        margin-top: 92px;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #ef6d58;
      }
      h3 {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        color: #391400;
        padding: 13px 0 23px 0;
      }
      button {
        font-weight: 900;
        font-size: 14px;
        line-height: 14px;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        background: #ef6d58;
        border-radius: 6px;
        padding: 18px 32px 16px 31px;
        border: 0;
      }
    }

    .img {
      display: flex;
      justify-content: space-between;
      max-width: 671px;
      width: 100%;

      .catrd {
        margin-top: 60px;
      }
      div {
        position: relative;

        .path {
          max-width: 239px;
          max-height: 396px;
          top: -60px;
          left: 40px;
          position: absolute;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .suprisCart {
      flex-direction: column;
      align-items: center;
      max-height: 832px;
      height: 100%;
      .img {
        flex-direction: column;
        align-items: center;
        .catrd {
          max-width: 351px;
          width: 100%;
          max-height: 317px;
          height: 100%;
          margin-bottom: 60px;
        }
        .grill {
          width: 80%;

          max-height: 194px;
          height: 100%;
        }
        .path {
          width: 90%;

          margin-top: -38px;
        }
      }
    }
  }

  .exPlore {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;

    .eventy {
      max-width: 426px;
      width: 100%;
      padding-top: 140px;
      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        text-align: center;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #ef6d58;
        padding-bottom: 20px;
      }
      h3 {
        font-weight: 800;
        font-size: 56px;
        line-height: 64px;
        text-align: center;
        letter-spacing: -1px;
        color: #ffffff;
      }
    }

    .myCarts {
      display: flex;
      gap: 30px;
      .myCarts-1 {
        max-width: 370px;
        width: 100%;
        max-height: 448px;
        height: 100%;
        border: 1px solid #3a3c56;
        border-radius: 6px;
        padding: 36px 40px;
        .now {
          font-weight: 700;
          font-size: 24px;
          line-height: 32px;
          color: #ffffff;
          padding-bottom: 19px;
        }
        .big {
          font-weight: 800;
          font-size: 72px;
          line-height: 80px;
          letter-spacing: -2px;
          color: #ffffff;
        }
        div {
          display: flex;
          align-items: center;
          gap: 12px;
          max-width: 172px;
        }
        .oclock {
          font-weight: 400;
          font-size: 16px;
          line-height: 32px;
          color: #ffffff;

          img {
            margin-right: 8px;
          }
        }
        .duzxett {
          border-bottom: 1px solid #3a3c56;
          padding-bottom: 36px;
          margin-bottom: 40px;
        }
        .digi {
          font-weight: 400;
          font-size: 16px;
          line-height: 32px;
          color: rgba(255, 255, 255, 0.64);
        }

        .explor {
          padding-top: 26px;
        }
      }
    }

    @media screen and (max-width: 768px) {
      .myCarts {
        flex-direction: column;
      }
    }

    .btn {
      margin-top: 64px;
      button {
        border: 1px solid rgba(255, 255, 255, 0.295743);
        border-radius: 6px;
        font-weight: 900;
        font-size: 14px;
        line-height: 14px;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        padding: 18px 30px 16px 31px;
        background: none;
      }
    }
  }

  .myOur {
    padding-top: 156px;
    max-width: 1170px;
    width: 100%;
    overflow: hidden;
    .myTeam {
      display: flex;
      justify-content: space-between;
      height: 180px;
      .mypTag {
        max-width: 531px;
        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 32px;
          letter-spacing: 3px;
          text-transform: uppercase;
          color: #ef6d58;
        }
        h3 {
          font-weight: 800;
          font-size: 56px;
          line-height: 64px;
          letter-spacing: -1px;
          color: #ffffff;
          padding-top: 20px;
        }
      }
      .divBtn {
        display: flex;
        align-items: end;
        gap: 16px;
        button {
          background: none;
          border: 1px solid rgba(255, 255, 255, 0.295743);
          padding: 19px 19px 17px 17px;
          border-radius: 50%;
          img {
            width: 14px;
            height: 9px;
          }
          &:hover {
            background-color: rgba(255, 255, 255, 0.438);
          }
        }
      }
    }
    .myDesigners {
      padding-top: 64px;
      display: flex;
      gap: 30px;

      .divImg {
        div {
          width: 270px;

          height: 272px;
          display: flex;
          align-items: end;
          border: 1px solid #3a3c56;
          border-radius: 6px;
          justify-content: center;
        }

        .myFirst {
          font-weight: 700;
          font-size: 24px;
          line-height: 32px;
          color: #ffffff;
          padding: 26px 0 0 0;
        }
        .myThen {
          font-weight: 400;
          font-size: 16px;
          line-height: 32px;
          color: rgba(255, 255, 255, 0.64);
        }
      }
    }
    .pinsl {
      display: flex;
      justify-content: center;
      .myImg1 {
        display: inline;
        padding-top: 64px;
      }
      .myImg2 {
        display: none;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .myOur {
      .myDesigners {
        margin-top: 20%;
      }
    }
  }

  .foundWords {
    padding-top: 156px;
    max-width: 1170px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .diGitaly {
      max-width: 470px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      div {
        position: relative;

        img {
          position: absolute;
          left: 300px;
          opacity: 0.5;
        }
      }
      .myFond {
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #ef6d58;
      }
      h3 {
        padding: 33px 0 44px 0;
        font-weight: 800;
        font-size: 40px;
        line-height: 48px;
        color: #ffffff;
      }
      .ren {
        padding-bottom: 6px;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        color: #ffffff;
      }
      .myfOunder {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: rgba(255, 255, 255, 0.64);
      }
    }
  }

  @media screen and (max-width: 768px) {
    .foundWords {
      max-width: 329px;
      padding: 164px 23px 41px 23px;
      flex-direction: column;
      gap: 41px;

      .diGitaly {
        div {
          max-width: 100px;
          width: 90%;
          img {
            left: 200px;
          }
        }
      }
      .manImg {
        img {
          max-width: 229px;
        }
      }
      .myFond {
        h3 {
          font-size: 24px;
        }
      }
    }
  }
}

.artTestimanuals {
  background-color: #f3d1bf;
  max-width: 1440px;
  width: 100%;
  max-height: 100000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 124px 0 176px 0;

  .mydivTestiman {
    max-width: 1170px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .Whator {
      max-width: 394px;
      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        text-align: center;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #ef6d58;
      }
      h3 {
        font-weight: 800;
        font-size: 56px;
        line-height: 64px;
        text-align: center;
        letter-spacing: -1px;
        color: #391400;
      }
    }

    .Comments-1 {
      display: grid;
      grid-template-columns: auto auto;
      width: 100%;
      padding-top: 64px;

      .end {
        max-width: 586px;
        height: 336px;
        padding: 48px;
        border: 1px solid #f3c2a7;
        border-radius: 0px 6px 0px 0px;

        .mypCmmant {
          font-weight: 400;
          font-size: 10px;
          line-height: 32px;
          color: rgba(57, 20, 0, 0.64);
          padding: 31px 0 30px 0;
        }
        .man {
          align-self: end;
          display: flex;
          gap: 24px;
          align-items: center;
          padding-bottom: 47px;
          div {
            .name {
              font-weight: 700;
              font-size: 24px;
              line-height: 32px;
              color: #391400;
            }
            .media {
              font-weight: 400;
              font-size: 16px;
              line-height: 32px;
              color: #391400;
            }
          }
        }
      }
    }

    @media screen and (max-width: 768px) {
      .Comments-1 {
        grid-template-columns: auto;
        .man {
          img {
            width: 48px;
          }
        }
      }
    }
  }
  .btnSeeall {
    padding-top: 65px;
    button {
      background: #ffffff;
      box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
      border-radius: 6px;
      border: 0;
      font-weight: 900;
      font-size: 14px;
      line-height: 14px;
      text-align: center;
      text-transform: uppercase;
      color: #391400;
      padding: 18px 54px 16px 41px;
    }
  }

  .myPricing {
    max-width: 1170px;
    width: 100%;
    .mypresTag {
      padding: 108px 0 64px 0;
      max-width: 358px;
      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #ef6d58;
      }
      h3 {
        font-weight: 800;
        font-size: 56px;
        line-height: 64px;
        letter-spacing: -1px;
        color: #391400;
      }
    }

    .consTract {
      display: flex;
      justify-content: space-between;
      align-items: end;
      .cardas {
        max-width: 391px;
        width: 100%;
        height: 513px;
        border: 1px solid #f7b693;
        border-radius: 6px 0px 0px 6px;
        padding: 44px 48px 48px;
        .myPconst {
          padding-top: 22px;
          font-weight: 400;
          font-size: 16px;
          line-height: 32px;
          letter-spacing: 3px;
          text-transform: uppercase;
          color: #ef6d58;
        }

        h3 {
          font-weight: 800;
          font-size: 40px;
          line-height: 48px;
          color: #391400;
          padding-top: 17px;
        }

        .yours {
          font-weight: 400;
          font-size: 16px;
          line-height: 32px;
          color: rgba(57, 20, 0, 0.64);
          padding: 15px 0;
        }

        .plas {
          font-weight: 400;
          font-size: 16px;
          line-height: 32px;
          color: #391400;
          padding-top: 16px;
          img {
            padding-right: 23px;
          }
          .imgPls {
            display: inline;
          }

          .imgMns {
            display: none;
          }
        }
        .divBtn {
          padding-top: 36px;
          .btnContact {
            background: #ffffff;
            box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
            border-radius: 6px;
            font-weight: 900;
            font-size: 14px;
            line-height: 14px;
            text-align: center;
            text-transform: uppercase;
            padding: 18px 32px 16px 31px;
            color: #391400;
            border: 0;
          }
        }
      }
      .cards-selec {
        height: 560px;
        background-color: white;
        border: 0;
        .populary {
          font-weight: 400;
          font-size: 16px;
          line-height: 32px;
          color: #ffffff;
          border: 0;
          background: #ef6d58;
          border-radius: 19px;
          padding: 4px 15px 2px 17px;
        }
      }
    }
    @media screen and (max-width: 768px) {
      .consTract {
        flex-direction: column;
        align-items: center;
      }
    }
  }

  .Fag {
    max-width: 1170px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 176px;

    .Freque {
      max-width: 470px;
      .pfag {
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #ef6d58;
      }
      h3 {
        padding: 17px 0 31px 0;
        font-weight: 800;
        font-size: 40px;
        line-height: 48px;
        color: #391400;
      }

      .digital {
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        padding-bottom: 29px;
        color: rgba(57, 20, 0, 0.64);
      }

      .pConta {
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;

        color: #391400;
      }
    }

    .canProvid {
      .aDigital {
        max-width: 570px;
        padding: 41px;
        border: 1px solid #f7c3a8;
        .pAgency {
          display: flex;
          justify-content: space-between;
          font-weight: 700;
          font-size: 24px;
          line-height: 32px;
          button {
            border: 0;
            background: none;
          }
        }
        .pComent {
          font-weight: 400;
          font-size: 16px;
          line-height: 32px;
          color: rgba(57, 20, 0, 0.64);
          max-width: 470px;
        }
      }
      .aDigital-color {
        background-color: white;
        .pAgency {
          padding-bottom: 35px;
          button {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .Fag {
      flex-direction: column;
      .Freque {
        padding: 23px;
      }
    }
  }

  .our-Awards {
    max-width: 1170px;
    width: 100%;
    h3 {
      font-weight: 800;
      font-size: 40px;
      line-height: 48px;
      text-align: center;
      color: #391400;
      padding: 156px 0 67px 0;
    }
    .Awwards {
      td {
        border-top: 1px solid #ebbba1;
      }
      .sonuncu {
        border-bottom: 1px solid #ebbba1;
      }
      .pAwards {
        p {
          display: flex;
          align-items: center;
          font-weight: 400;
          font-size: 20px;
          line-height: 32px;
          color: #391400;

          gap: 23px;
          img {
            width: 120px;
            height: 80px;
          }
        }
      }
      .pOurlook {
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        text-align: center;
        color: rgba(57, 20, 0, 0.64);
      }
      .dessign {
        p {
          display: flex;
          align-items: center;
          justify-content: end;
          gap: 23px;
          font-weight: 400;
          font-size: 16px;
          line-height: 32px;
          text-align: right;
          color: #391400;
        }
      }
    }
    @media screen and (max-width: 768px) {
      .Awwards {
        display: flex;
        flex-direction: column;
        align-items: center;
        td {
          border: 0;
          p {
            flex-direction: column;
            img {
              padding-top: 31px;
            }
          }
        }
        .sonuncu {
          border: 0;
        }
        .dessign {
          p {
            border-bottom: 1px solid #ebbba1;
            padding-bottom: 31px;
            width: 329px;
          }
        }
      }
    }

    .Whatour {
      text-align: center;
      padding: 43px 58px;
      a {
        color: black;
      }
    }
  }

  .ourBlog {
    max-width: 1170px;
    width: 100%;
    padding-top: 112px;
    .myBlog-name {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 64px;
      .myPtag {
        max-width: 318px;
        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 32px;
          letter-spacing: 3px;
          text-transform: uppercase;
          color: #ef6d58;
        }
        h3 {
          font-weight: 800;
          font-size: 56px;
          line-height: 64px;
          letter-spacing: -1px;
          color: #391400;
        }
      }
      .btn-our {
        button {
          font-weight: 900;
          font-size: 14px;
          line-height: 14px;
          text-align: center;
          text-transform: uppercase;
          background: #ffffff;
          box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
          border-radius: 6px;
          color: #391400;
          padding: 18px 35px 16px 35px;
          border: 0;
        }
      }
    }

    .imgStories {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      border-bottom: 1px solid #f89d8f;
      padding-bottom: 68px;
      .imgCards {
        max-width: 370px;
        img {
        }
        .stories {
          font-weight: 400;
          font-size: 20px;
          line-height: 32px;
          color: #391400;
          padding-top: 26px;
        }
        h3 {
          max-width: 338px;
          font-weight: 700;
          font-size: 30px;
          line-height: 32px;
          color: #391400;
          padding: 15px 0;
        }
        .history {
          font-weight: 400;
          font-size: 16px;
          line-height: 32px;
          color: rgba(57, 20, 0, 0.64);
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    .ourBlog {
      padding: 23px;
      overflow: hidden;
      .myBlog-name {
        flex-direction: column;
        gap: 53px;
      }
    }
  }

  .NewsLetter {
    max-width: 1440px;
    width: 100%;

    .newInput {
      padding: 60px 0 116px 0;
      display: flex;
      justify-content: space-between;
      h3 {
        font-weight: 800;
        font-size: 40px;
        line-height: 48px;
        color: #391400;
      }
      form {
        input {
          background: #ffffff;
          border: 1px solid #f3d1bf;
          border-radius: 6px;
          width: 370px;
          padding: 9px 16px 7px 16px;
          font-weight: 400;
          font-size: 16px;
          line-height: 32px;
          color: rgba(57, 20, 0, 0.64);
        }
        button {
          font-weight: 900;
          font-size: 14px;
          line-height: 14px;
          text-align: center;
          text-transform: uppercase;
          padding: 18px 45px 16px 45px;
          color: #391400;
          background: #ffffff;
          box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
          border-radius: 6px;
          border: 0;
        }
      }
    }
    .newMaps {
      position: relative;
      max-width: 1440px;
      overflow: hidden;
      height: 719px;
      img {
        width: 1440px;
        height: 100%;
      }
      .mapTag {
        position: absolute;
        top: 323px;
        left: 934px;
        z-index: 2;
        width: 72px;
        height: 72px;
      }
      .geTouch {
        max-width: 470px;
        padding: 57px 48px 48px;
        background: #ffffff;
        border-radius: 6px;
        position: absolute;
        top: 127px;
        left: 135px;

        h3 {
          font-weight: 700;
          font-size: 24px;
          line-height: 32px;
          color: #391400;
          padding-bottom: 23px;
        }
        form {
          z-index: 2;
          display: flex;
          flex-direction: column;
          gap: 16px;
          justify-content: space-between;
          input,
          select,
          textarea {
            padding: 9px 16px 7px 16px;
            background: #ffffff;
            border: 1px solid #f3d1bf;
            border-radius: 6px;
          }

          textarea {
            resize: none;
            margin-bottom: 32px;
          }
          button {
            font-weight: 900;
            font-size: 14px;
            line-height: 14px;
            text-align: center;
            text-transform: uppercase;

            color: #ffffff;
            background: #ef6d58;
            border-radius: 6px;
            padding: 18px 30px 16px 29px;
            align-self: self-end;
            border: 0;
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .NewsLetter {
      padding: 23px;
      .newInput {
        gap: 35px;
        flex-direction: column;
        align-items: center;
        form {
          input {
            max-width: 329px;
            width: 100%;
            margin-bottom: 16px;
          }
          button {
            max-width: 329px;
            width: 100%;
          }
        }
      }

      .newMaps {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        height: 1248px;
        .geTouch {
          margin-bottom: 64px;
          position: static;
        }
      }
    }
  }

  .phoneNumbers {
    max-width: 1440px;
    width: 100%;
    justify-content: center;
    display: flex;
    padding: 80px 0 130px 0;
    .cardsNam {
      max-width: 391px;
      width: 100%;
      padding: 32px 48px 38px 48px;
      height: 192px;
      border: 1px solid #f5c8b0;
      border-radius: 6px 0px 0px 6px;
      .ovalImg {
        display: flex;
        align-items: center;
        gap: 24px;
        .pImg {
          background-color: orange;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 64px;
          height: 64px;
          border-radius: 50%;
        }
        .orengPtag {
          font-weight: 400;
          font-size: 16px;
          line-height: 32px;
          letter-spacing: 3px;
          text-transform: uppercase;
          color: #ef6d58;
        }
      }
      .myPabout {
        padding-top: 26px;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        color: #391400;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .phoneNumbers {
      flex-direction: column;
      align-items: center;
      padding: 80px 23px 130px 23px;
    }
  }

  .myCardsimg {
    max-width: 1170px;
    width: 100%;
    padding: 94px 100px;
    justify-content: center;
    display: flex;
    background-color: orange;

    gap: 87px;
  }
  .modern {
    max-width: 513px;
    .myp {
      font-family: "Epilogue";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 32px;
      color: #ef6d58;
      letter-spacing: 3px;
      text-transform: uppercase;
    }
    .agency {
      color: rgba(255, 255, 255, 0.64);
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 32px;
      padding: 28px 0 34px 0;
    }
    .Star {
      position: absolute;
      top: -20px;
      right: 20px;
    }
    h3 {
      position: relative;
      font-family: "Epilogue";
      font-style: normal;
      font-weight: 800;
      font-size: 56px;
      max-width: 405px;
      color: white;
    }
    .how {
      background: #ffffff;
      border-radius: 6px;
      padding: 18px 23px 16px 22px;
      font-style: normal;
      font-weight: 900;
      font-size: 14px;
      line-height: 14px;
      text-align: center;
      text-transform: uppercase;
      border: 0;
      color: #252121;
      cursor: pointer;
    }
    .contact {
      background: #2f234b;
      border-radius: 6px;
      padding: 18px 23px 16px 22px;
      font-style: normal;
      font-weight: 900;
      font-size: 14px;
      line-height: 14px;
      text-align: center;
      text-transform: uppercase;
      border: 0;
      color: #ffffff;
      cursor: pointer;
    }
    .Man {
      margin-top: 117px;
      display: flex;
      align-items: center;
      p {
        color: rgba(255, 255, 255, 0.64);
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
      }
    }
  }
  .imgDiv {
    img {
      max-width: 444px;
    }
  }
}

@media screen and (max-width: 768px) {
  .myCardsimg {
    flex-direction: column-reverse;

    .imgDiv {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        max-width: 329px;
        width: 100%;
        max-height: 334px;
        height: 100%;
      }
    }
  }
}
