footer {
  background-color: #f3d1bf;
  max-width: 1440px;
  width: 100%;
  padding: 9%;
  display: flex;
  flex-direction: column;

  .iinerFooter {
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f09789c2;
    padding-bottom: 68px;
    .myAgency {
      h2 {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        color: #391400;
      }
    }
    .myMenu {
      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #ef6d58;
      }
      ul {
        li {
          a {
            font-weight: 400;
            font-size: 16px;
            line-height: 32px;
            color: #391400;
          }
        }
      }
    }
    .myMedia {
      img {
      }
    }
  }
  .footerPtag {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 43px;
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 32px;
      color: rgba(57, 20, 0, 0.64);
    }
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 68px;
      p {
        color: #391400;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  footer {
    .iinerFooter {
      flex-direction: column;
      align-items: center;
      gap: 48px;
    }
    .footerPtag {
      flex-direction: column;
      align-items: center;
      gap: 32px;
      p {
        text-align: center;
      }
    }
  }
}
