// baslangic ucun butun sectionlara eni olcu verilir

section {
  margin-top: 73px;
  max-width: 1170px;
  width: 100%;
}

// navSection section start

.navSection {
  background: #f3d1bf;
  height: 192px;
  ul {
    margin-left: 10%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
  }
  border-bottom: 1px solid burlywood;
}

@media screen and (max-width: 768px) {
  .navSection {
    ul {
      // grid-template-areas: inherit;
      // grid-template-columns: 1fr 1fr;
      // gap: 20px;
      display: flex;
      flex-wrap: wrap;
      column-gap: 240px;
      row-gap: 20px;
      justify-content: center;
    }
  }
}
// navSection section end

// aboutSection start

.aboutSection {
  display: flex;
  gap: 130px;
  .adoutdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 26px;
  }
  .manimg {
    max-width: 566px;
    max-height: 585px;
  }
  .woman {
    width: 64px;
    height: 64px;
  }
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;

    color: #ef6d58;
  }
  .power {
    color: #391400;
  }
  .burda {
    font-size: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }
  .Maginucun {
    margin-left: 84px;
  }
  .ablity {
    color: rgba(57, 20, 0, 0.64);
  }
  h2 {
    font-weight: 800;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;
    color: #391400;
  }
  button {
    margin-top: 52px;
    background: #ffffff;
    box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
    border-radius: 6px;
    padding: 18px 34px 16px 33px;
    max-width: 138px;
    border: 0;

    font-weight: 900;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;

    color: #391400;
  }
}
@media screen and (max-width: 768px) {
  .aboutSection {
    flex-direction: column;
    align-items: center;
    div {
      min-width: 329px;
      min-height: 340px;
      .manimg {
        height: 100%;
        width: 90%;
      }
    }
    .adoutdiv {
      max-width: 329px;
    }
  }
}

// aboutSection end

//projacsection start

.Projac {
  display: flex;

  div {
    min-width: 342px;
    width: 100%;
    min-height: 93px;
    height: 100%;
    padding-left: 48px;
    padding-top: 45px;
    padding-bottom: 38px;
    border: 1px solid hsla(21, 79%, 81%, 0.747);
    .pheder {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;

      font-weight: 800;
      font-size: 40px;
      line-height: 48px;

      color: #391400;
    }
    .pbody {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;

      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
      color: #391400;
    }
  }
}
@media screen and (max-width: 768px) {
  .Projac {
    flex-direction: column;
    div {
      padding: 0 0 0 48px;
      max-width: 294px;
      width: 100%;
      max-height: 93px;
      height: 100%;
    }
  }
}

//projacsection end

//Makingsection start

.Making {
  display: flex;
  justify-content: space-between;
  padding-bottom: 108px;
  border-bottom: 1px solid #da9570;
  div {
    padding-left: 23px;
  }
  .divMaking {
    max-width: 448px;
    width: 100%;
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 32px;

      letter-spacing: 3px;
      text-transform: uppercase;

      color: #ef6d58;
    }
    .pTechn {
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;

      font-weight: 400;
      font-size: 12px;
      line-height: 32px;
      color: rgba(57, 20, 0, 0.64);
    }
    .pRead {
      color: #391400;
      font-weight: 400;
      font-size: 16px;
    }
    h2 {
      font-weight: 800;
      font-size: 40px;
      line-height: 48px;
      color: #391400;
    }
  }
  .Full {
    max-width: 498px;
    width: 100%;
    ol {
      li {
        display: flex;
        gap: 53px;
        font-size: 40px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;

        font-weight: 800;
        font-size: 72px;
        line-height: 80px;
        letter-spacing: -2px;
        color: #391400;

        .liPtag {
          height: 100%;
          font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
            "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
          font-size: 20px;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .Making {
    flex-direction: column;
  }
}

//imgReelsction start

.imgReel {
  margin: 0;
  padding-top: 127px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .divImgReel {
    position: relative;
    max-width: 570px;
    width: 100%;
    max-height: 368px;
    height: 368px;
    img {
      position: absolute;
      width: 100%;
    }

    .imgtime {
      width: 48px;
      height: 32px;
      top: 310px;
      left: 24px;
    }
    .play {
      max-width: 148px;
      width: 100%;
      max-height: 148px;
      height: 100%;
      top: 110px;
      left: 211px;
    }
  }

  .unloc {
    max-width: 470px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 17px;
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 32px;
      letter-spacing: 3px;
      color: #ef6d58;
      display: flex;
      align-items: center;
      gap: 10px;
    }
    h2 {
      font-weight: 800;
      font-size: 40px;
      line-height: 48px;
      color: #391400;
    }
    .Dessign {
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

      font-weight: 400;
      font-size: 12px;
      line-height: 32px;
      color: rgba(57, 20, 0, 0.493);
    }
    .loog {
      color: rgba(57, 20, 0, 0.973);
      font-size: 16px;
    }
  }
}

.divImgReel {
  display: flex;
  align-items: end;
  .personal {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #391400;
  }
  p {
    color: rgba(57, 20, 0, 0.64);
  }

  .divImgReel-1 {
    max-width: 336px;
    width: 100%;
    max-height: 336px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background-color: #ffffff;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 48px;
    .newimg {
      position: relative;
      top: -100px;

      .Comb {
        position: absolute;
        width: 32px;
        height: 32px;
        z-index: 1;
        top: 20px;
        left: 28px;
      }
      .ovall {
        position: absolute;
        width: 80px;
        height: 80px;
      }
    }
  }
  .access {
    max-width: 336px;
    width: 100%;
    max-height: 272px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 48px;
    padding-right: 48px;
    border: 1px solid #c0a08f80;
  }
}

.ftures {
  .imgDes {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    img {
      width: 80%;
    }
  }
}
@media screen and (max-width: 768px) {
  .imgReel {
    flex-direction: column;
  }
  .ftures {
    display: flex;
    flex-direction: column-reverse;
  }
  .newimg {
    margin-top: 60px;
  }
  .divimgAccess {
    flex-direction: column;
    align-items: center;
  }
}

.secService {
  padding-bottom: 128px;

  .divService {
    max-width: 336px;

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 32px;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: #ef6d58;
    }
    h2 {
      font-weight: 800;
      font-size: 40px;
      line-height: 48px;
      color: #391400;
      padding: 17px 0 35px 0;
    }
  }
  .divCards {
    display: flex;
    .divCards-c {
      border: 1px solid #da95706e;
      padding: 48px;
      display: flex;
      flex-direction: column;
      gap: 19px;
      .phed {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        color: #391400;
      }
      .assig {
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        color: rgba(57, 20, 0, 0.64);
      }
      .pImg {
        background-color: orangered;
        display: flex;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        position: relative;
        img {
          position: absolute;
          top: 24px;
          left: 24px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .secService {
    .divCards {
      flex-direction: column;
    }
  }
}
